body{
	background: url("images/Light_Purple_Lines_Wallpaper-1.jpg") #a192e3 center repeat fixed;
	color: #4b3c8f;
	font-family: "Verdana";
	line-height: 1.5em;
}

h1{
	text-align: center;
	font-size: 4em;
	text-shadow: 4px 4px 10px #cac0ff, -4px 4px 10px #cac0ff, 4px -4px 10px #cac0ff, -4px -4px 10px #cac0ff;
	font-family: "Georgia";
}
h2{
	text-align: center;
	background-color: #8672d3;
	font-family: "Georgia";
	line-height: 1.5em;
	border-radius: 16px;
}
	
h5{
	color: #4b3c8f;
}


.twig{
	float: right;
	border-radius: 8px;
	border: 4px solid #4b3c8f;
	margin-right: 10px;
}
	
.topimage{
	border-radius: 8px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #4b3c8f; 
}
div{
	background-color: #a192e3;
	border-radius: 16px;
	padding-bottom: 20px;
}
p{
	padding-left: 20px;
	padding-right: 20px;
	text-indent: 2em;
}
ul{
		
	font-size: .9em;
	list-style-image: url(images/Cat.png);
	list-style-position: inside;
}
nav{
	text-align: center;
	line-height: 2em;
	background-color: #8672d3;
	border-radius: 16px;
}

div nav li{
	font-size: 1.5em;
	list-style-type: none;
	display: inline;
	padding-right: 40px;
}

nav a:link, nav a:visited{
	font-family: "Georgia";
	text-decoration:none;
	color: #4b3c8f;
}
nav a:hover{
	text-decoration:underline;
}
nav a:active{	
	color: #CAC0FF;
	text-decoration:underline;
}

	
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 50%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
}
	
table{	

	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: solid 2px #8672d3;
	border-collapse:collapse;
	border-radius: 16px;
	
}
tr, td, th{	
	width: 250px;
	border: solid 2px #8672d3;
}
th{
	background-color: #8672d3;
	border: solid 2px #4b3c8f;
}
caption{
	caption-side:top;
	font-weight: bold;
	margin:5px;
}
.opt{
	font-weight: bold;
}