body
	{
		background-image: url("Light_Purple_Lines_Wallpaper-1.jpg");
		color: #4b3c8f;
		background-color: #a192e3;
		font-family: "Verdana";
		line-height: 1.5em;
	}

h1
	{
		text-align: center;
		font-size: 4em;
		text-shadow: 4px 4px 10px #cac0ff, -4px 4px 10px #cac0ff, 4px -4px 10px #cac0ff, -4px -4px 10px #cac0ff;
		font-family: "Georgia";
	}
h5
	{
		position: absolute;
		top: 5px;
		color: #4b3c8f;
	}

img
	{
		border-radius: 8px;
		border: 3px solid #4b3c8f; 
	}
	
.row 
	{
		display: flex;
		flex-wrap: wrap;
		padding: 0 4px;
	}
.column {
		flex: 50%;
		padding: 0 4px;
	}

.column 
	img {
		margin-top: 8px;
		vertical-align: middle;
	}